@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900;9..40,1000&display=swap");

:root {
  --aj-white: #fff;
  --aj-dark: #000;
  --aj-blue: #007be5;

  --aj-gray-100: #e5e5e5;
  --aj-gray-200: #d9d9d9;

  --aj-dark-100: #000000e5;

  --aj-red: #d91e18;
  --aj-green: #008000;

  --aj-header-bg: var(--aj-white);
  --aj-primary: var(--aj-blue);
  --aj-secondary: var(--aj-blue);

  --aj-error: var(--aj-red);
  --aj-success: var(--aj-green);

  --aj-dm-sans: "DM Sans", sans-serif;
  --aj-font-primary: var(--aj-dm-sans);
}

@import "flex";

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--aj-font-primary);
  transition: all 300ms ease-in-out;
}
* {
  scroll-behavior: smooth;
  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    border-radius: 4px;
    color: var(--aj-gray-200);
  }
  &::-webkit-scrollbar-thumb {
    border: 5px solid var(--aj-gray-200);
    border-radius: 4px;
    background: transparent;
  }
}

html {
  font-family: var(--aj-font-primary);
  font-size: 16px;
  color: var(--aj-dark);
  background-color: var(--aj-white);
  overflow: hidden;
}

button {
  cursor: pointer;
}

.aj {
  &-icon {
    &-ex {
      font-size: 1.5rem;
    }
  }
  &-df {
    &-text {
      &-primary {
        color: var(--aj-primary);
      }
      &-secondary {
        color: var(--aj-secondary);
      }
      &-error {
        color: var(--aj-error);
        font-size: 0.8rem;
        font-weight: 400;
      }
      &-success {
        color: var(--aj-success);
        font-size: 0.8rem;
        font-weight: 400;
      }
    }
    &-bg {
      &-primary {
        background: color-mix(
          in srgb,
          var(--aj-primary) 45%,
          var(--aj-white)
        ) !important;
      }
      &-secondary {
        background: color-mix(
          in srgb,
          var(--aj-secondary) 45%,
          var(--aj-white)
        ) !important;
      }
      &-error {
        background: color-mix(
          in srgb,
          var(--aj-error) 45%,
          var(--aj-white)
        ) !important;
      }
      &-success {
        background: color-mix(
          in srgb,
          var(--aj-success) 45%,
          var(--aj-white)
        ) !important;
      }
    }
    &-button {
      &-primary {
        background-color: var(--aj-primary);
        border: none;
        outline: none;
        padding: 0.6rem 0.9rem;
        text-decoration: none;
        font-weight: 600;
        border-radius: 1rem;
        color: var(--aj-white);
        &:hover {
          box-shadow: 0 0 2px var(--aj-dark-100);
        }
        &:focus-visible {
          border: 1px solid
            color-mix(in srgb, var(--aj-blue) 80%, var(--aj-gray-100));
        }
        &-text {
          background-color: transparent;
          border: none;
          outline: none;
          padding: 0.6rem 0.9rem;
          text-decoration: none;
          font-weight: 600;
          border-radius: 1rem;
          color: var(--aj-primary);
          &:hover {
            box-shadow: 0 0 2px var(--aj-dark-100);
          }
          &:focus-visible {
            border: 1px solid
              color-mix(in srgb, var(--aj-blue) 80%, var(--aj-gray-100));
          }
        }
      }
      &-secondary {
        background-color: var(--aj-secondary);
        border: none;
        outline: none;
        padding: 0.6rem 0.9rem;
        text-decoration: none;
        font-weight: 600;
        border-radius: 1rem;
        color: var(--aj-dark-100);
        &:hover {
          box-shadow: 0 0 2px var(--aj-dark-100);
        }
        &:focus-visible {
          border: 1px solid
            color-mix(in srgb, var(--aj-blue) 80%, var(--aj-gray-100));
        }
        &-text {
          background-color: transparent;
          border: none;
          outline: none;
          padding: 0.6rem 0.9rem;
          text-decoration: none;
          font-weight: 600;
          border-radius: 1rem;
          color: var(--aj-secondary);
          &:hover {
            box-shadow: 0 0 2px var(--aj-dark-100);
          }
          &:focus-visible {
            border: 1px solid
              color-mix(in srgb, var(--aj-blue) 80%, var(--aj-gray-100));
          }
        }
      }
      &-tertiary {
        background-color: transparent;
        border: none;
        outline: none;
        padding: 0.6rem 0.9rem;
        text-decoration: none;
        font-weight: 600;
        border-radius: 1rem;
        color: var(--aj-dark-100);
        &:hover {
          background-color: var(--aj-gray-100);
          box-shadow: 0 0 2px var(--aj-dark-100);
        }
        &:focus-visible {
          border: 1px solid
            color-mix(in srgb, var(--aj-blue) 80%, var(--aj-gray-100));
        }
      }
      &-dark {
        background-color: var(--aj-dark);
        border: none;
        outline: none;
        padding: 0.6rem 0.9rem;
        text-decoration: none;
        font-weight: 600;
        border-radius: 1rem;
        color: var(--aj-white);
        &:hover {
          box-shadow: 0 0 2px var(--aj-white);
        }
        &:focus-visible {
          border: 1px solid
            color-mix(in srgb, var(--aj-blue) 80%, var(--aj-gray-100));
        }
      }
    }
  }
}
